<% if !user_signed_in? %>
  <%= link_to login_path do %>
    <h3 class="h3-link">» Login</h3>
  <% end %>
  <br>
  <%= link_to sign_up_path do %>
    <h3 class="h3-link">» Sign up</h3>
  <% end %>
<% else %>
  <%= link_to logout_path do %>
    <h3 class="h3-link">» Logout</h3>
  <% end %>
<% end %>
