<% @posts.each do |post| %>
  <div class="thumb-container">
    <%= link_to post do %>
      <div class="image-thumb-container">
        <%= image_tag post.picture_url, class: "image-thumb" %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="pagination">
  <%= will_paginate %>
</div>
