$booru-red: #BD5866;

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

a {
  color: $booru-red;
  text-decoration: none;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-logo {
  width: 400px;
}

input[type="text"] {
  border-radius: 0;
  border: 1px solid gray;
}

.home-search-box {
  width: 400px;
}

.search-submit {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0;
  margin-top: 3px;
  color: #212121;
}

.main-header {
  margin-bottom: 15px;
}

.layout-header {
  padding: 0 15px;
  h3 {
    color: $booru-red;
  }
}

.menu {
  padding: 0 15px;
  a {
    margin-left: 0;
    margin-right: 0;
    padding: 5px 10px;
  }
}

.active-menu-item + a {
  font-weight: 600;
  color: white;
  background-color: $booru-red;
}

.sidebar {
  overflow: auto;
  padding: 10px 20px 10px 10px;
}

.sidebar-search-box {
  width: 100%;
}

.main-content {
  padding: 10px;
}

.thumb-container {
  display: inline-block;
  text-align: center;
  width: 180px;
  height: 180px;
  overflow: auto;
}

.image-thumb-container {
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.image-thumb {
  height: 150px;
  width: auto;
}

.tag-list {
  margin: 5px 0;
  list-style: none;
  padding-left: 0;
  li {
    margin-left: 5px;
    padding-left: 0;
  }
}

.h3-link {
  margin: 0;
}

.menu-bottom-line {
  display: flex;
  align-items: center;
  padding: 0px 25px;
  margin-top: 0px;
  width: 100%;
  height: 25px;
  background-color: $booru-red;
  a {
    color: white;
    font-size: small;
  }
}

.sidebar-h4 {
  margin: 5px 0 0 5px;
}

.pagination {
    background: white;
    cursor: default;
    font-size: small;
    /* self-clearing method: */
}
.pagination a,
.pagination span,
.pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}
.pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
}
.pagination .current {
    font-style: normal;
    font-weight: bold;
    color: black;
    border: 1px solid transparent;
}
.pagination a {
    text-decoration: none;
    color: $booru-red;
    border: 1px solid #F5F5F5;
}
.pagination a:hover,
.pagination a:focus {
    background: $booru-red;
    color: white;
    border-color: $booru-red;
}
.pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}
.pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em;
}
.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .pagination {
    height: 1%;
}
*:first-child + html .pagination {
    overflow: hidden;
}
